schemas/cultures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cultures">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Heritage" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Culture" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="faction" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="faction" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="submod_addon_tag" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
