schemas/factions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">

  <xs:element name="Factions">
    <xs:complexType>
      <xs:sequence>
        <!-- Enforce at least one Faction element in the main schema -->
        <xs:element name="Faction" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <!-- Enforce presence of all core unit types in the main schema -->
            <xs:sequence>
              <xs:element name="General" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required"/>
                  <xs:attribute name="rank" type="xs:integer" use="optional"/>
                  <xs:attribute name="num_guns" type="xs:integer" use="optional"/>
                  <xs:attribute name="naval_key" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Knights" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required"/>
                  <xs:attribute name="rank" type="xs:integer" use="optional"/>
                  <xs:attribute name="num_guns" type="xs:integer" use="optional"/>
                  <xs:attribute name="naval_key" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Levies" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required"/>
                  <xs:attribute name="percentage" type="xs:integer" use="required"/>
                  <xs:attribute name="max" type="xs:string" use="required"/>
                  <xs:attribute name="num_guns" type="xs:integer" use="optional"/>
                  <xs:attribute name="naval_key" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Garrison" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required"/>
                  <xs:attribute name="percentage" type="xs:integer" use="required"/>
                  <xs:attribute name="max" type="xs:string" use="required"/>
                  <xs:attribute name="level" type="xs:integer" use="required"/>
                  <xs:attribute name="num_guns" type="xs:integer" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="MenAtArm" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="type" type="xs:string" use="required"/>
                  <xs:attribute name="key" type="xs:string" use="required"/>
                  <xs:attribute name="max" type="xs:string" use="optional"/>
                  <xs:attribute name="siege" type="xs:boolean" use="optional"/>
                  <xs:attribute name="siege_engine_per_unit" type="xs:integer" use="optional"/>
                  <xs:attribute name="num_guns" type="xs:integer" use="optional"/>
                  <xs:attribute name="naval_key" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Naval" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="type" type="xs:string" use="required"/>
                  <xs:attribute name="category" type="xs:string" use="required"/>
                  <xs:attribute name="class" type="xs:string" use="required"/>
                  <xs:attribute name="naval_key" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="subculture" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="submod_tag" type="xs:string" use="optional"/>
      <xs:attribute name="submod_addon_tag" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
