schemas/mods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Mods">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Mod"/>
                <xs:element ref="Submod"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="Mod">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="sha256" type="xs:string" use="optional"/>
                    <xs:attribute name="screen_name" type="xs:string" use="required"/>
                    <xs:attribute name="url" type="xs:anyURI" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Submod">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Mod" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="submod_tag" type="xs:string" use="required"/>
            <xs:attribute name="screen_name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
