schemas/terrains.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Define common types -->
  <xs:complexType name="MapCoords">
    <xs:attribute name="x" type="xs:decimal" use="required" />
    <xs:attribute name="y" type="xs:decimal" use="required" />
    <xs:attribute name="overridden_x" type="xs:decimal" use="optional" />
    <xs:attribute name="overridden_y" type="xs:decimal" use="optional" />
  </xs:complexType>

  <xs:complexType name="VariantType">
    <xs:sequence>
      <xs:element name="Map" type="MapCoords" />
    </xs:sequence>
    <xs:attribute name="key" type="xs:string" use="required" />
    <xs:attribute name="besieger_orientations" type="xs:string" use="optional" />
    <xs:attribute name="besieged_deployment_zone_width" type="xs:decimal" use="optional" />
    <xs:attribute name="besieged_deployment_zone_height" type="xs:decimal" use="optional" />
    <xs:attribute name="orientations" type="xs:string" use="optional" />
  </xs:complexType>

  <!-- Main Terrains Element -->
  <xs:element name="Terrains">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Map" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Historic_Maps" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Map" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="ck3_building_key" type="xs:string" use="required" />
                  <xs:attribute name="x" type="xs:decimal" use="required" />
                  <xs:attribute name="y" type="xs:decimal" use="required" />
                  <xs:attribute name="overridden_x" type="xs:decimal" use="optional" />
                  <xs:attribute name="overridden_y" type="xs:decimal" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Normal_Maps" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Terrain" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Map" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="x" type="xs:decimal" use="required" />
                        <xs:attribute name="y" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ck3_name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Settlement_Maps_Unique" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Settlement_Unique" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Variant" type="VariantType" />
                  </xs:sequence>
                  <xs:attribute name="battle_type" type="xs:string" use="required" />
                  <xs:attribute name="province_names" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Settlement_Maps" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Settlement" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Variant" type="VariantType" maxOccurs="unbounded" />
                  </xs:sequence>
                  <xs:attribute name="faction" type="xs:string" use="required" />
                  <xs:attribute name="battle_type" type="xs:string" use="required" />
                  <xs:attribute name="province_names" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Siege_Engines" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Siege_Engine" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="siege_effort_cost" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Land_Bridge_Maps" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Land_Bridge" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Variant" type="VariantType" />
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="ck3_province_from" type="xs:integer" use="required" />
                  <xs:attribute name="ck3_province_to" type="xs:integer" use="required" />
                  <xs:attribute name="ck3_type" type="xs:string" use="required" />
                  <xs:attribute name="battle_type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Coastal_Maps" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Coastal" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Variant" type="VariantType" />
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="battle_type" type="xs:string" use="required" />
                  <xs:attribute name="ck3_type" type="xs:string" use="optional" />
                  <xs:attribute name="ck3_province" type="xs:integer" use="optional" />
                  <xs:attribute name="ck3_province_from" type="xs:integer" use="optional" />
                  <xs:attribute name="ck3_province_to" type="xs:integer" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Naval_Maps" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Naval" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Variant" type="VariantType" />
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="ck3_province" type="xs:integer" use="required" />
                  <xs:attribute name="battle_type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="submod_tag" type="xs:string" use="optional" />
      <xs:attribute name="submod_addon_tag" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>

</xs:schema>
