schemas/timeperiod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="TimePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StartDate" type="xs:string" />
        <xs:element name="EndDate" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
